/target/*

*.class


/target/classes/com/scube/edu/controller/DocumentController.class
/target/classes/com/scube/edu/controller/DocumentController.class
/target/classes/com/scube/edu/controller/DocumentController.class
/target/classes/com/scube/edu/controller/DocumentController.class
